body {
    background-color: #1f7e9a;
}

h1 {
    font-family: 'Abhaya Libre', serif;
    color: white;
    font-size: 4em;
}

table {
    border-collapse: collapse;
    margin: 2% auto;
}

#table_game {
    position: relative;
    font-size: 80px;
    margin: 0% auto;
    border-collapse: collapse;
}

.td_game {
    border: 4px solid black;
    width: 115px;
    height: 115px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.td_game:hover {
    cursor: pointer;
}








